<!-- Masthead Home-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100 d-md-flex al-item-center">
                <div class="col-lg-8 align-self-end container_img_logo">
                    <div><%= image_tag 'revelum/NaughtvollRevelum_white.png', class: 'img' %></div>
                   
                </div>
            </div>
        </header>
    <!-- About -->
        <section class= " page-section2 main-bg-color " id="about">
          <div class="container ">

              <div class ="float_left container_img ">
              <div><%= image_tag 'revelum/super-maxy75.JPEG', class: 'img img_contain' %></div>
              </div>

              <div class ="container_sen float_left">
                <h2 class="History_title  text-black">About</h2>
                <hr class="divider2 orange-color" />
                <h4 class="History_sen text-center text-black mb-5">ポートフォリオへようこそ</h4>
                <p class="History_sen text-center text-black mb-5">このウェブサイトは、私の自己紹介と創作活動を通じて、デザインと技術の融合スキルを展示するために設計されました。 
                                                                    学生時代から多岐にわたる分野に情熱を注ぎ、その経験と学びがこのサイトに集約されています。ここに展示されている各プロジェクトは、
                                                                    クリエイティブなアイデアを具体的な形に落とし込むプロセスを経て、 当時の信条や感情を素直に表現することを目指して制作されました。
                                                                    また、このウェブサイト自体も私の技術力を示す作品であり、レイアウトや色使いには特にこだわりを持って取り組んでいます。 
                                                                    各プロジェクトの背後にあるストーリーやデザインに込めた思いを、ぜひご覧ください。</p>
                <p class="History_sen text-right text-black mb-5">亀井 壮</p>
              </div>

            </div>

        </section>

         <!-- Brand -->
         <section class= " page-section2 sub-bg-color " id="brand">
            <div class="container">
  
                <div class ="float_right container_img d-lg-flex overflow-hidden">
                    <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/logo2.png', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                </div>
  
                <div class ="container_sen float_left">
                  <h2 class="History_title  text-white">Brand</h2> <!--text-center-->
                  <hr class="divider2 red-color" />
                  <p class=" text-center text-white-75 mb-5 lh-lg">ナートヴォル・レブロムは、2023年11月24日にフィリピンでの短期留学中、私の恩師であるMr. Zeusからのインスピレーションを受けて誕生したブランドです。
                    このブランドは「石盤に刻まれた芸術」というコンセプトを掲げています。</p>
                    <p class= "text-center text-white-75 mb-5 lh-lg">現在、ナートヴォル・レブロムでは定期的な新作販売は行っておらず、創作活動は私の気分によって左右されます。創作の成果が気に入った際にのみ販売を行っています。
                    これはまさに、私たちの創作物がどれだけ自由であるかを象徴しています
                    将来的には、このブランドを通じて得た社会勉強や経験を生かし、少しでも利益を出せるよう努力していく所存です。私たちの芸術的な取り組みにご興味をお持ちいただけたら幸いです。</p>
                </div>
            </div>
        </section>

    <section class="page-section2 main-bg-color" id="arithfact">

        <div class="container px-4 px-lg-5">
        <h2 class="mb-4 text-center">Artifact</h2>
        <hr class="divider orange-color" />

        <div class="carousel">
            <button class="carousel-control prev"><</button>
            <div class="carousel-content">

                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/ring.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Ring</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">2023年10月、フィリピン留学中に出会ったZues氏と共に制作したシルバーリング。
                                                            このリングは、地金を叩いて成形し、カレン族の伝統を思わせる曲線を織り交ぜた幾何学模様の彫金を施しました。
                                                            その精緻なデザインは、身に着けるたびに私たちを東南アジアの美しい風景へと誘います。</p>
                    </div>
                </div>

                 <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/ring-stand.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Ring Stand</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">2023年の夏、他の作品を制作する合間に息抜きとして作ったリングスタンド。
                                                        無駄のない機能美と圧倒的なバランスが特徴で、どこか懐かしい地球儀のメモリクリップを思わせるデザインが魅力です。
                                                          このリングスタンドは、シンプルでありながらも洗練された美しさを放ちます。</p>
                        
                    </div>
                </div>

                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/pencase.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Leather Pencase</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">2018年頃に制作したロールペンケース。柔らかく、ずっと握っていたくなるような革で作られており、使うたびに手に馴染んでいきます。
                                                            長い時間を共に過ごし、成長してきたかけがえのない友のような存在。この革の兄弟たちは今も元気にしているだろうか。</p>
                    </div>
                </div>

                <div class="carousel-slide">
                    <div  id="carousel-container" class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/bag.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Leather Bag</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">2024年3月頃に制作したレザーバッグ。フィリピンで購入した大きなベリー革を使用しています。
                                                            縫い目を見せないことを美とし、ベリー革の端をあえてそのままトップにすることで独特の風合いを生かしました。
                                                            たくさんの傷や鞣しの際にできた穴は、生きた証拠であり、私が愛してやまない特徴です。このバッグを手にするたびに、内側からフィリピンの温かさを感じることができます。</p>
                    </div>
                </div>

                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/bike.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Piste Bike</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">2018年に組み立てたピストバイク。メインフレームには2006年製のMasiを使用し、クランクには1980年代のスギノ・スーパーマキシーを採用しました。
                                                            さらに、滅多に見ない編み上げ式のグリップで仕上げ、クラシカルで温かみのあるバイクに仕上がっています。この一台は、過去と現在が調和した、美しさと機能を兼ね備えた逸品です。</p>
                      
                    </div>
                </div>

                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/tie.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Custom denim </h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">2022年に作成したカスタムデニム。この作品は、タイトなデニムをフレアに変えたいという思いと、従兄弟の父から譲り受けた40年前のKENZOのネクタイを蘇らせたいという願いから生まれました。
                                                            左右のデザインには、KENZOの過去と現在を表現し、シンプルでカジュアル服装の中にフォーマルを織り交ぜることが出来きます。</p>
                    </div>
                </div>

                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/knit43.PNG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Granny Square</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">2024年1月頃に作成したグラニースクエアのマフラー。細かいパッチを繋げるのが主流の中、10号のかぎ針を使って大きくインパクトのある作品に仕上げました。
                                                            グラニーとは祖母を意味するグランマから来ており、親しみや懐かしさを感じさせます。このマフラーはオールブラックのスタイルに大胆なグラニースクエアを合わせることで、
                                                            過去から現代へと昇華した一品です。</p>
                    </div>
                </div>

                
                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/turu-iem.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Ear Headphone</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">2021年5月に制作したカスタムIEM。これは3作目にあたるもので、Lowが2基、Midが2基の計4基を搭載した2wayシステムを採用しています。
                                                        美しいフェイスプレートは、3層にわたる精巧なデザインで仕上げられ、細部にまでこだわり抜いた歯車と鶴の配置が永遠の時を象徴しています。
                                                        この優雅で洗練されたデザインと高度な技術が融合したカスタムIEMは、視覚と聴覚の両方で極上の体験を提供します。</p>
                        
                    </div>
                </div>

                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/7oKa-iem.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Ear Headphone2</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">2023年8月に完成したカスタムIEM（インイヤーモニター）は、4作目にして初めてネットワーク構築に挑戦し、Lowが2基、Midが2基、
                                                        Highが4基の合計8基のドライバーを搭載した3wayシステムを採用しています。各パーツを丹念に組み替え、録音を繰り返し、最後の一瞬までこだわり抜いた至高の作品です。</p>
                        <p class="text-center mb-5 lh-lg">内側の技術だけでなく、外側の美しさにも一切の妥協はありません。シェルは透き通るような輝きを放ち、フェイスプレートにはエレガントな青貝を使用。
                                                            さらに、補聴器にも使われる抗菌コーティング剤を塗布し、衛生面にも配慮しました。これこそが、究極の技術と美の融合を追求したオーディオマスターピースです。</p>
                    </div>
                </div>
                
            </div>
            <button class="carousel-control next">></button>
        </div>
    </div>
</section>

            

        <!--Origin-->
         <section  class="page-section sub-bg-color" id="" >
                <div class="container_his Color">
                    <div class="container_his1 text-center text-white">
                        <h2 class="History_title text-center ">Naughtvoll Revelum</h2>
                        <hr class="divider red-color"/>
                        <h3 class="text-center mt-5 mb-5">-仮-</h3>
                        <h5 class="container text-center text-white-75 mb-5 lh-lg">作成中</h5>
                        <h3 class="text-center mt-5 mb-5">-Origin-</h3>
                        <h5 class="container text-center text-white-75 mb-5 lh-lg">"Naughtvoll Revelum"は、創造性と物事の始まりを示す名前です。"Naughtvoll"は古英語の"Naught"（何も無い）と"Voll"（満たされた、完全）を組み合わせ、
                            ｢無から完全な、可能性に満ちた世界」を表現しています。一方で"Revelum"は"Reveal”（明らかにする。初公開する）に由来し「Re」(もう一度)とラテン語の「velum」(帆、布、ベール)を繋げた造語で、｢布を土台とし新たな物を創造し露わにしていく｣という意味を持ちます。
                            この名前は、無から有を生み出す過程や創造的な旅の夜明けを象徴しています。Naughtvoll Revelumは無から有を生み出すことを指針とし、｢はじまりのない創造｣を使命としています。名前の由来や信念に基づいて、石盤に刻まれた芸術を皆様に提供する事を誓います。 </h5>
                        <h3 class="text-center mt-5 mb-5">-はじまりのない創造-</h3>
                        <h5 class="container text-center text-white-75 mb-5 lh-lg">「はじまりのない創造」という概念は、あらゆる創造物やアイデアが新たなものであるという考え方です。創造的なプロセスは、過去の概念やアイデアを基にすることがありますが、新しいものを生み出す過程は常に新規性や革新性を持ちます。
                            「はじまりのない創造」は、革新的なものや新しいアイデアが常に新たな出発点から始まり、過去の基盤を持たずに生まれることを意味します。これは、既存の概念や規範にとらわれず、創造性を自由に発揮することを指すことがあります。新しい考えやアプローチが、過去の枠組みを超えて、
                            全く新しい次元で革新をもたらすことができるという意味も含まれることがあります。
                            
                            「はじまりのない創造」という概念は、新しいものを生み出すプロセスにおいて、創造物やアイデアが従来の規範や枠組みにとらわれず、新たなスタートを切ることを意味します。つまり、過去の制約や既存の概念から自由に発想し、新しいものを生み出すことを追求することです。
                            その際、あなたや他の人々が新たな創造の源泉となり、革新的なアイデアやプロジェクトを生み出すことが「はじまりのない創造」の一部として捉えられます。</h5>
                    </div>
                </div>
        </section>

        <!-- About me -->
        <section class="page-section2 main-bg-color text-black" id="">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">わたしについて</h2>
                <hr class="divider red-color"  />
                <div class ="float_right container_img p-xxl-3 ">
                    <div><%= image_tag 'revelum/mahura-810.JPEG', class: 'img_Takeru px-4 ' %></div>
                 </div>
                <div class="staff_container border_line Line_2n">
                    <h2>name</h2>
                    <p>お酒は弱いがお酒が大好きなオーナーバーテンダー18歳からBARでアルバイトを始め、26歳から本格的にバーテンダーの道へキャリア12年目【ディアジオワールドクラス日本大会2015,2016,2017&2018】TOP50バーテンダー選出【ボルスアラウンドザワールド2017】アジアTOP10バーテンダー選出</p>
                </div>
            </div>
        </section>


       
        <!-- Contact -->
        <section class="page-section sub-bg-color" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center text-white-75">
                        <h2 class="mt-0 ">お問い合わせ</h2>
                        <hr class="divider " />
                        <p class=" mb-5">来店のご予約につきましてはお電話でのみ承っております。下記フォームでは来店予約は受け付けておりませんのでご了承下さい。</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">お名前</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">必須項目です。</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">メールアドレス</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">必須項目です。</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">無効なメールアドレスです。</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">電話番号</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">必須項目です。</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">お問い合わせ内容</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">必須項目です。</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">送信しました。</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3"></div>メッセージの送信に失敗しました</div>
                            <!-- Submit Button-->
                            <div class="d-grid text-white"><button class="btn btn-sub btn-xl disabled " id="submitButton" type="submit">確認</button></div>
                        </form>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>042-512-9959</div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - Company Name</div></div>
        </footer>