<!-- Masthead Home-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100 d-md-flex al-item-center">
                <div class="col-lg-8 align-self-end container_img_logo">
                    <div><%= image_tag 'revelum/NaughtvollRevelum_white.png', class: 'img' %></div>
                   
                </div>
            </div>
        </header>
    <!-- About -->
        <section class= " page-section2 main-bg-color " id="about">
          <div class="container ">

              <div class ="float_left container_img ">
              <div><img class = "img" src=""></div>
              </div>

              <div class ="container_sen float_left">
                <h2 class="History_title  text-black">About</h2> <!--text-center-->
                <hr class="divider2 orange-color" />
                <p class="History_sen text-center text-black mb-5">このホームページはNaughtvoll revelum と私のポートフォリオをまとめた紹介ページとなっています。aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                <a class="btn btn-primary btn-xl about_btn" href="">And More</a>
              </div>

            </div>

        </section>

         <!-- Brand -->
         <section class= " page-section2 sub-bg-color " id="brand">
            <div class="container">
  
                <div class ="float_right container_img d-lg-flex overflow-hidden">
                    <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/logo2.png', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                </div>
  
                <div class ="container_sen float_left">
                  <h2 class="History_title  text-white">Brand</h2> <!--text-center-->
                  <hr class="divider2 red-color" />
                  <p class=" text-center text-white-75 mb-5 lh-lg">ナートヴォル・レブロムは、2023年11月24日にフィリピンでの短期留学中、私の恩師であるMr. Zeusからのインスピレーションを受けて誕生したブランドです。
                    このブランドは「石盤に刻まれた芸術」というコンセプトを掲げています。</p>
                    <p class= "text-center text-white-75 mb-5 lh-lg">現在、ナートヴォル・レブロムでは定期的な新作販売は行っておらず、創作活動は私の気分によって左右されます。創作の成果が気に入った際にのみ販売を行っています。
                    これはまさに、私たちの創作物がどれだけ自由であるかを象徴しています
                    将来的には、このブランドを通じて得た社会勉強や経験を生かし、少しでも利益を出せるよう努力していく所存です。私たちの芸術的な取り組みにご興味をお持ちいただけたら幸いです。</p>
                </div>
            </div>
        </section>

    <section class="page-section2 main-bg-color" id="arithfact">

        <div class="container px-4 px-lg-5">
        <h2 class="mb-4 text-center">作品</h2>
        <hr class="divider orange-color" />

        <div class="carousel">
            <button class="carousel-control prev"><</button>
            <div class="carousel-content">

                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/ring.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Ring</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">ナートヴォル・レブロムは、2023年11月24日にフィリピンでの短期留学中、私の恩師であるMr. Zeusからのインスピレーションを受けて誕生したブランドです。このブランドは「石盤に刻まれた芸術」というコンセプトを掲げています。</p>
                        <p class="text-center mb-5 lh-lg">現在、ナートヴォル・レブロムでは定期的な新作販売は行っておらず、創作活動は私の気分によって左右されます。創作の成果が気に入った際にのみ販売を行っています。これはまさに、私たちの創作物がどれだけ自由であるかを象徴しています。将来的には、このブランドを通じて得た社会勉強や経験を生かし、少しでも利益を出せるよう努力していく所存です。私たちの芸術的な取り組みにご興味をお持ちいただけたら幸いです。</p>
                    </div>
                </div>

                 <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/ring-stand.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Ring Stand</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">ナートヴォル・レブロムは、2023年11月24日にフィリピンでの短期留学中、私の恩師であるMr. Zeusからのインスピレーションを受けて誕生したブランドです。このブランドは「石盤に刻まれた芸術」というコンセプトを掲げています。</p>
                        <p class="text-center mb-5 lh-lg">現在、ナートヴォル・レブロムでは定期的な新作販売は行っておらず、創作活動は私の気分によって左右されます。創作の成果が気に入った際にのみ販売を行っています。これはまさに、私たちの創作物がどれだけ自由であるかを象徴しています。将来的には、このブランドを通じて得た社会勉強や経験を生かし、少しでも利益を出せるよう努力していく所存です。私たちの芸術的な取り組みにご興味をお持ちいただけたら幸いです。</p>
                    </div>
                </div>

                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/pencase.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Leather Pencase</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">これは別の作品の説明文です。</p>
                    </div>
                </div>

                <div class="carousel-slide">
                    <div  id="carousel-container" class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/bag.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Leather Bag</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">これはさらに別の作品の説明文です。</p>
                    </div>
                </div>

                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/bike.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Piste Bike</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">ナートヴォル・レブロムは、2023年11月24日にフィリピンでの短期留学中、私の恩師であるMr. Zeusからのインスピレーションを受けて誕生したブランドです。このブランドは「石盤に刻まれた芸術」というコンセプトを掲げています。</p>
                        <p class="text-center mb-5 lh-lg">現在、ナートヴォル・レブロムでは定期的な新作販売は行っておらず、創作活動は私の気分によって左右されます。創作の成果が気に入った際にのみ販売を行っています。これはまさに、私たちの創作物がどれだけ自由であるかを象徴しています。将来的には、このブランドを通じて得た社会勉強や経験を生かし、少しでも利益を出せるよう努力していく所存です。私たちの芸術的な取り組みにご興味をお持ちいただけたら幸いです。</p>
                    </div>
                </div>

                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/tie.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Custom denim </h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">ナートヴォル・レブロムは、2023年11月24日にフィリピンでの短期留学中、私の恩師であるMr. Zeusからのインスピレーションを受けて誕生したブランドです。このブランドは「石盤に刻まれた芸術」というコンセプトを掲げています。</p>
                        <p class="text-center mb-5 lh-lg">現在、ナートヴォル・レブロムでは定期的な新作販売は行っておらず、創作活動は私の気分によって左右されます。創作の成果が気に入った際にのみ販売を行っています。これはまさに、私たちの創作物がどれだけ自由であるかを象徴しています。将来的には、このブランドを通じて得た社会勉強や経験を生かし、少しでも利益を出せるよう努力していく所存です。私たちの芸術的な取り組みにご興味をお持ちいただけたら幸いです。</p>
                    </div>
                </div>

                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/knit43.PNG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Granny Square</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">ナートヴォル・レブロムは、2023年11月24日にフィリピンでの短期留学中、私の恩師であるMr. Zeusからのインスピレーションを受けて誕生したブランドです。このブランドは「石盤に刻まれた芸術」というコンセプトを掲げています。</p>
                        <p class="text-center mb-5 lh-lg">現在、ナートヴォル・レブロムでは定期的な新作販売は行っておらず、創作活動は私の気分によって左右されます。創作の成果が気に入った際にのみ販売を行っています。これはまさに、私たちの創作物がどれだけ自由であるかを象徴しています。将来的には、このブランドを通じて得た社会勉強や経験を生かし、少しでも利益を出せるよう努力していく所存です。私たちの芸術的な取り組みにご興味をお持ちいただけたら幸いです。</p>
                    </div>
                </div>


                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/riva43.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">R.I.V.A</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">ナートヴォル・レブロムは、2023年11月24日にフィリピンでの短期留学中、私の恩師であるMr. Zeusからのインスピレーションを受けて誕生したブランドです。このブランドは「石盤に刻まれた芸術」というコンセプトを掲げています。</p>
                        <p class="text-center mb-5 lh-lg">現在、ナートヴォル・レブロムでは定期的な新作販売は行っておらず、創作活動は私の気分によって左右されます。創作の成果が気に入った際にのみ販売を行っています。これはまさに、私たちの創作物がどれだけ自由であるかを象徴しています。将来的には、このブランドを通じて得た社会勉強や経験を生かし、少しでも利益を出せるよう努力していく所存です。私たちの芸術的な取り組みにご興味をお持ちいただけたら幸いです。</p>
                    </div>
                </div>

                
                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/turu-iem.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Ear Headphone</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">ナートヴォル・レブロムは、2023年11月24日にフィリピンでの短期留学中、私の恩師であるMr. Zeusからのインスピレーションを受けて誕生したブランドです。このブランドは「石盤に刻まれた芸術」というコンセプトを掲げています。</p>
                        <p class="text-center mb-5 lh-lg">現在、ナートヴォル・レブロムでは定期的な新作販売は行っておらず、創作活動は私の気分によって左右されます。創作の成果が気に入った際にのみ販売を行っています。これはまさに、私たちの創作物がどれだけ自由であるかを象徴しています。将来的には、このブランドを通じて得た社会勉強や経験を生かし、少しでも利益を出せるよう努力していく所存です。私たちの芸術的な取り組みにご興味をお持ちいただけたら幸いです。</p>
                    </div>
                </div>

                <div class="carousel-slide">
                    <div class="float_right container_img d-lg-flex overflow-hidden">
                        <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/7oKa-iem.JPEG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                    </div>
                    <div class="container_sen float_left">
                        <h2 class="">Ear Headphone2</h2>
                        <hr class="divider2 red-color" />
                        <p class="text-center mb-5 lh-lg">ナートヴォル・レブロムは、2023年11月24日にフィリピンでの短期留学中、私の恩師であるMr. Zeusからのインスピレーションを受けて誕生したブランドです。このブランドは「石盤に刻まれた芸術」というコンセプトを掲げています。</p>
                        <p class="text-center mb-5 lh-lg">現在、ナートヴォル・レブロムでは定期的な新作販売は行っておらず、創作活動は私の気分によって左右されます。創作の成果が気に入った際にのみ販売を行っています。これはまさに、私たちの創作物がどれだけ自由であるかを象徴しています。将来的には、このブランドを通じて得た社会勉強や経験を生かし、少しでも利益を出せるよう努力していく所存です。私たちの芸術的な取り組みにご興味をお持ちいただけたら幸いです。</p>
                    </div>
                </div>
                
            </div>
            <button class="carousel-control next">></button>
        </div>
    </div>
</section>

            
        <!--
          </section>

       
            
                <section class= " page-section2 main-bg-color " id="arithfact">
            <div class="container px-4 px-lg-5 ">
                        <h2 class="mb-4 text-center">作品</h2>
                        <hr class="divider orange-color"  />
  
                <div class ="float_right container_img d-lg-flex overflow-hidden">
                    <div class="my-md-auto mx-md-0"><%= image_tag 'revelum/knit43.PNG', class: 'img-fluid my-md-auto mx-md-0 ' %></div>
                </div>
  
                <div class ="container_sen float_left">
                  <h2 class="">イヤホン</h2> 
                  <hr class="divider2 red-color" />
                  <p class=" text-center  mb-5 lh-lg">ナートヴォル・レブロムは、2023年11月24日にフィリピンでの短期留学中、私の恩師であるMr. Zeusからのインスピレーションを受けて誕生したブランドです。
                    このブランドは「石盤に刻まれた芸術」というコンセプトを掲げています。</p>
                    <p class= "text-center  mb-5 lh-lg">現在、ナートヴォル・レブロムでは定期的な新作販売は行っておらず、創作活動は私の気分によって左右されます。創作の成果が気に入った際にのみ販売を行っています。
                    これはまさに、私たちの創作物がどれだけ自由であるかを象徴しています
                    将来的には、このブランドを通じて得た社会勉強や経験を生かし、少しでも利益を出せるよう努力していく所存です。私たちの芸術的な取り組みにご興味をお持ちいただけたら幸いです。</p>
                </div>
  
            </div>
  
          </section> -->

        <!--Origin-->
         <section  class="page-section sub-bg-color" id="" >
                <div class="container_his Color">
                    <div class="container_his1 text-center text-white">
                        <h2 class="History_title text-center ">Naughtvoll Revelum</h2>
                        <hr class="divider red-color"/>
                        <h3 class="text-center mt-5 mb-5">-仮-</h3>
                        <h5 class="container text-center text-white-75 mb-5 lh-lg">作成中</h5>
                        <h3 class="text-center mt-5 mb-5">-Origin-</h3>
                        <h5 class="container text-center text-white-75 mb-5 lh-lg">"Naughtvoll Revelum"は、創造性と物事の始まりを示す名前です。"Naughtvoll"は古英語の"Naught"（何も無い）と"Voll"（満たされた、完全）を組み合わせ、
                            ｢無から完全な、可能性に満ちた世界」を表現しています。一方で"Revelum"は"Reveal”（明らかにする。初公開する）に由来し「Re」(もう一度)とラテン語の「velum」(帆、布、ベール)を繋げた造語で、｢布を土台とし新たな物を創造し露わにしていく｣という意味を持ちます。
                            この名前は、無から有を生み出す過程や創造的な旅の夜明けを象徴しています。Naughtvoll Revelumは無から有を生み出すことを指針とし、｢はじまりのない創造｣を使命としています。名前の由来や信念に基づいて、石盤に刻まれた芸術を皆様に提供する事を誓います。 </h5>
                        <h3 class="text-center mt-5 mb-5">-はじまりのない創造-</h3>
                        <h5 class="container text-center text-white-75 mb-5 lh-lg">「はじまりのない創造」という概念は、あらゆる創造物やアイデアが新たなものであるという考え方です。創造的なプロセスは、過去の概念やアイデアを基にすることがありますが、新しいものを生み出す過程は常に新規性や革新性を持ちます。
                            「はじまりのない創造」は、革新的なものや新しいアイデアが常に新たな出発点から始まり、過去の基盤を持たずに生まれることを意味します。これは、既存の概念や規範にとらわれず、創造性を自由に発揮することを指すことがあります。新しい考えやアプローチが、過去の枠組みを超えて、
                            全く新しい次元で革新をもたらすことができるという意味も含まれることがあります。
                            
                            「はじまりのない創造」という概念は、新しいものを生み出すプロセスにおいて、創造物やアイデアが従来の規範や枠組みにとらわれず、新たなスタートを切ることを意味します。つまり、過去の制約や既存の概念から自由に発想し、新しいものを生み出すことを追求することです。
                            その際、あなたや他の人々が新たな創造の源泉となり、革新的なアイデアやプロジェクトを生み出すことが「はじまりのない創造」の一部として捉えられます。</h5>
                    </div>
                </div>
        </section>

        <!-- About me -->
        <section class="page-section2 main-bg-color text-black" id="">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">わたしについて</h2>
                <hr class="divider red-color"  />
                <div class ="float_right container_img p-xxl-3 ">
                    <div><%= image_tag 'revelum/Kamei.JPG', class: 'img_Takeru px-4 ' %></div>
                 </div>
                <div class="staff_container border_line Line_2n">
                    <h2>name</h2>
                    <p>お酒は弱いがお酒が大好きなオーナーバーテンダー18歳からBARでアルバイトを始め、26歳から本格的にバーテンダーの道へキャリア12年目【ディアジオワールドクラス日本大会2015,2016,2017&2018】TOP50バーテンダー選出【ボルスアラウンドザワールド2017】アジアTOP10バーテンダー選出</p>
                </div>
            </div>
        </section>


        <!-- 混んでる時間 -->
        <section class="page-section orange-bg-color text-white" id="">
              <div class="container px-4 px-lg-5 text-center">
                  <h2 class="mb-4">混んでいる時間</h2>
                  <hr class="divider sub-color"  />
                  <a class="btn btn-sub btn-xl" href="">And More</a>
              </div>
          </section>

       
        <!-- Contact -->
        <section class="page-section wine-bg-color" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center text-white-75">
                        <h2 class="mt-0 ">お問い合わせ</h2>
                        <hr class="divider " />
                        <p class=" mb-5">来店のご予約につきましてはお電話でのみ承っております。下記フォームでは来店予約は受け付けておりませんのでご了承下さい。</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">お名前</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">必須項目です。</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">メールアドレス</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">必須項目です。</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">無効なメールアドレスです。</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">電話番号</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">必須項目です。</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">お問い合わせ内容</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">必須項目です。</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">送信しました。</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3"></div>メッセージの送信に失敗しました</div>
                            <!-- Submit Button-->
                            <div class="d-grid text-white"><button class="btn btn-sub btn-xl disabled " id="submitButton" type="submit">確認</button></div>
                        </form>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>042-512-9959</div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - Company Name</div></div>
        </footer>